<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TeamBuilder</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    Teambuilder
                </a>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('signup') }}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <ul>
                          {% for message in messages %}
                              <li> <strong> {{ message }} </strong> </li>
                          {% endfor %}
                      </ul>
                    {% endif %}
                {% endwith %}

                {% block content %}
                {% endblock %}

                {% if not current_user.confirmed %}
                    <p>You have not confirmed your account. If you did not receive the confirmation email, click <a href="{{ url_for('send_email') }}">here</a> to resend it</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
