<html>
  <body>
    <div style="padding:5%;margin:5vh 5%;font-family: arial; text-align: center;">
      <h2>Hello, {{ name }}</h2>
      <h4>Nice to meet you. Here's your confirmation code.</h4>
      <div>
        <h3 style="padding:3%;margin:auto;width:40%;background-color: black;color:white;">14209578</h3>
      </div>
      <h4>We're happy to have you on board.</h4>
      <div style="margin-top:10vh">
        <h4 style="font-weight:normal">Troubleshooting support:</h4>
        <a style="text-decoration:none" href="mailto:support@teambuilder.com" target="_top">support@teambuilder.com</a>
      </div>
    </div>
  </body>
</html>
